<div class="row">
    <div class="col-xs-15">
        <form>
            <div class="row">
                <div class="col-xs-20 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="ammount">Ammount</label>
                    <input type="number" id="ammount" class="form-control w-1000" style="width: 70px;">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button class="btn btn-success" type="submit" style="margin:2.5px;">Add</button>
                    <button class="btn btn-danger" type="button" style="margin:2.5px;">Delete</button>
                    <button class="btn btn-primary" type="button" style="margin:2.5px;">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>